/*共通レイアウト===========================================*/

body {
  padding-top: 70px;
  color: #364a4d;
  margin: 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/*ここまで共通===========================================*/

/*header===========================================*/
